<!DOCTYPE html>
<html language="en"> 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <title> Teams page </title>
  <link href="/style.css" rel="stylesheet">
  <link href="/teams.css" rel="stylesheet"> 
  <script src="https://kit.fontawesome.com/af288e161d.js" crossorigin="anonymous"></script>
  <script src="../hamburger.js" defer></script>
  <script src="images.js" defer> </script>
</head>

<body>
  <header>
    <div class="header-wrapper">
      <img class="un-logo" src="../images/un-logo.png" alt="United Nations logo">
      <a class="hamburger-icon"> <i class="fa-solid fa-bars"></i> </a>
    </div>
    <nav>
      <ul class="nav-bar">
        <li class="nav-element"><a href="/"> Home </a></li>
        <li class="nav-element"> <a href="../sign-up"> Sign Up </a></li>
        <li class="nav-element active-nav"> <a class="active-page" href="../teams"> Team </a></li>
        <li class="dropdown">
          <button class="nav-element dropdown-btn"> Goals </button>
          <ul class="dropdown-content">
            <li><a href="../goals/1"> Quality Education </a></li>
            <li><a href="../goals/2"> Affordable & Clean Energy </a></li>
            <li><a href="../goals/3"> Life Below Water </a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h1 class="greating"> Meet the team </h1>
      <article class="team-member-container">
        <% if (locals.teamMembers) { %>
          <% locals.teamMembers.forEach(teamMember => { %>
            <div class="team-member">
              <img class="team-img" src="<%= teamMember.photoURL %>" alt="<%= teamMember.photoAlt %>">
              <div class="team-text">
                <h3 class="team-name"> <%= teamMember.name %> </h3>
                <h3 class="team-email"> <a href="mailto:<%= teamMember.email %>">Email: <%= teamMember.email %> </a> </h3>
                <h4> Roles: </h4>
                <p class="team-role"> <%= teamMember.role %></p>
              </div>
            </div>
          <% }) %>
        <% } %>
      </article>
    </section>
  </main>
  <footer>
    <div class="footer-data">
      <%= locals.footerData %>
    </div>
    <div class="social-links">
      <h2>Follow us:</h2>
      <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </footer>
</body> 


















</html>