<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/goals.css">
  <script src="https://kit.fontawesome.com/af288e161d.js" crossorigin="anonymous"></script>
  <script src="../hamburger.js" defer></script>
  <style>
    :root {
      --page-colour: <%= locals.pageColour %>;
      --accent-colour: <%= locals.accentColour %>;
    }
    </style>
    <script src="/goals.js" defer></script>
</head>
<body>
  <header>
    <div class="header-wrapper">
      <img class="un-logo" src="../images/un-logo.png" alt="United Nations logo">
      <a class="hamburger-icon"> <i class="fa-solid fa-bars"></i> </a>
    </div>
    <nav>
      <ul class="nav-bar">
        <li class="nav-element"><a href="/"> Home </a></li>
        <li class="nav-element"> <a href="../sign-up"> Sign Up </a></li>
        <li class="nav-element"> <a href="../teams"> Team </a></li>
        <li class="dropdown">
          <button class="nav-element dropdown-btn active-page active-nav"> Goals </button>
          <ul class="dropdown-content">
            <li><a href="1"> Quality Education </a></li>
            <li><a href="2"> Affordable & Clean Energy </a></li>
            <li><a href="3"> Life Below Water </a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <article class="primary-data">
      <img class src="/<%= locals.imgURL %>" alt="<%= locals.imgAlt %>">
      <div class="primary-text-container">
        <div>
          <h2>Overview:</h2>
          <p><%= locals.overview %></p>
        </div>
        <div>
          <h2>Why this is important:</h2>
          <p><%= locals.important %></p>
        </div>
      </div>
    </article>
    <article class="slideshow">
      <button class="slideshow-left" onclick="changeSlides(-1)">&#10094;</button>
      <% if (locals.slides) { %>
        <% locals.slides.forEach(slide => { %>
          <div class="slide">
            <h1> <%= slide.title %> </h1>
            <p> <%= slide.content %> </p>
          </div>
        <% }) %>
      <% } %>
      <button class="slideshowright" onclick="changeSlides(+1)">&#10095;</button>
    </article>
    <article class="targets">
      <% if (locals.targets) { %>
        <% locals.targets.forEach(target => { %>
          <div class="target">
            <h1> <%= target.title %> </h1>
            <p> <%= target.content %> </p>
          </div>
        <% }) %>
      <% } %>
    </article>
  </main>
  <footer>

  </footer>
</body>
</html>